@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
html {
  background-color: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.button-border {
  padding: 10px;
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 8px;
  cursor: pointer;
}

.button-noborder {
  padding: 10px;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.autoinput {
  color: #fff;
}
.autoinput span {
  font-family: "Ubuntu Mono", monospace;
}
.autoinput .typed-cursor {
  color: #fff;
}

.tag {
  color: #a7925a;
}

.tagname {
  color: #a7925a;
}

.artribute {
  color: #DDBD4E;
}

.artributeValue {
  color: #4C928A;
}

.header {
  background-color: #E5E3C9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__item-PC {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 550px) {
  .header__item-PC {
    overflow-x: scroll;
  }
}

.header-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-container .header__item-left img {
  height: 50px;
  margin: 5px;
}
.header-container .header__item-right nav ul {
  display: flex;
  list-style: none;
}
.header-container .header__item-right nav ul li {
  height: 100%;
}
.header-container .header__item-right nav ul li:not(:first-child) {
  margin-left: 20px;
}
.header-container .header__item-right nav ul li a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px 0 10px;
  text-decoration: none;
  color: #810D48;
  font-weight: 700;
  transition: 0.25s ease;
}
.header-container .header__item-right nav ul li a:hover {
  color: #F68B1F;
}

.banner {
  padding: 10% 2.5% 10% 2.5%;
  background-image: linear-gradient(to bottom, #E5E3C9, #fff);
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  width: 100%;
  text-align: center;
  font-size: 50px;
  color: #B62467;
}
.banner h3 {
  font-weight: 400;
  text-align: center;
  color: #303030;
}
.banner h3 code {
  font-family: "Ubuntu Mono", monospace;
  color: #B62467;
}

.home {
  height: fit-content;
  color: #fff;
  background-color: #303030;
  border-radius: 10px 10px 0 0;
  padding: 20px;
}
.home h2 {
  margin-bottom: 20px;
  color: #F68B1F;
}
.home h3 {
  border-radius: 10px;
  margin: 5px 0 5px 0;
}
.home .tab-item {
  padding: 5px 10px;
  background-color: #505050;
  border: 0;
  color: #fff;
  border-radius: 5px 5px 0 0;
  opacity: 1;
  cursor: pointer;
}
.home .tab-item:hover {
  opacity: 0.5;
}
.home .tab-item.active {
  background-color: #151515;
  opacity: 1;
}
.home .tab-pane {
  background-color: #151515;
  border-radius: 0 5px 5px 5px;
  display: none;
  padding: 10px;
}
.home .tab-pane.active {
  display: block;
}
.home .tab-pane span {
  font-family: "Ubuntu Mono", sans-serif;
}
.home .tab-pane a {
  color: #F68B1F;
  text-decoration: none;
  border-bottom: 1px solid #B62467;
  margin: 0 10px 0 10px;
  padding: 0;
  transition: 0.25s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}
.home .tab-pane a:hover {
  padding: 0 10px 0 10px;
  margin: 0;
  cursor: pointer;
  background-color: #F68B1F;
  color: #B62467;
  border-bottom: 5px solid #B62467;
}
.home .code-requirements {
  margin-bottom: 10px;
  margin-top: 30px;
}
.home .code-requirements .step {
  margin-bottom: 15px;
}
.home .code-requirements h2 {
  margin-bottom: 0;
}
.home .code-requirements h3 {
  color: #808080;
  font-weight: 400;
}
.home .code {
  padding: 5px 10px;
  background-color: #151515;
  border: 1px solid #505050;
  border-radius: 5px;
  width: fit-content;
}
.home .code span {
  font-family: "Ubuntu Mono", monospace;
}
.home .starter-template h2 {
  margin-bottom: 0;
}
.home .starter-template h3 {
  font-weight: 400;
  font-size: 15px;
  color: #909090;
}
.home .starter-template .code {
  padding: 10px;
  width: 100%;
  font-family: "Ubuntu Mono", monospace;
}
.home .starter-template .code span, .home .starter-template .code div {
  line-height: 1.5;
}
.home .starter-template .code .indent-4 {
  margin-left: 20px;
}
.home .starter-template .code .indent-8 {
  margin-left: 40px;
}

.introduce {
  background-color: #505050;
  padding: 2.5%;
}
.introduce h1 {
  color: #fff;
  font-size: 40px;
  max-width: 50%;
  background-color: #454545;
  border: 1px solid #606060;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}
.introduce h3 {
  color: #F68B1F;
  font-weight: 400;
  max-width: 50%;
}
.introduce h3 code {
  font-family: "Ubuntu Mono", monospace;
  background-color: #151515;
  padding: 5px 10px;
  border: 1px solid #505050;
  border-radius: 5px;
}
.introduce .tab-item2 {
  opacity: 0.5;
  background-color: #303030;
  color: #fff;
  border: 0;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}
.introduce .tab-item2.active {
  opacity: 1;
}
.introduce .tab-pane2 {
  display: none;
}
.introduce .tab-pane2.active {
  display: block;
}
.introduce .pane {
  background-color: #303030;
  padding: 10px;
  border-radius: 0 5px 5px 5px;
}
.introduce .pane .pane-row {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
}
.introduce .pane .pane-row .color {
  height: 60px;
  width: 100%;
}
.introduce .pane .pane-row .color:first-child {
  border-radius: 5px 0 0 5px;
}
.introduce .pane .pane-row .color:last-child {
  border-radius: 0 5px 5px 0;
}
.introduce .pane .pane-row.ubuntu-mono, .introduce .pane .pane-row.poppins, .introduce .pane .pane-row.merriweather {
  flex-direction: column;
}
.introduce .pane .pane-row.ubuntu-mono code, .introduce .pane .pane-row.poppins code, .introduce .pane .pane-row.merriweather code {
  font-family: "Ubuntu Mono";
  color: #707070;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #505050;
}
.introduce .pane .pane-row.ubuntu-mono h1, .introduce .pane .pane-row.poppins h1, .introduce .pane .pane-row.merriweather h1 {
  color: #F68B1F;
  font-size: 35px;
}
.introduce .pane .pane-row.ubuntu-mono:first-child h1, .introduce .pane .pane-row.poppins:first-child h1, .introduce .pane .pane-row.merriweather:first-child h1 {
  font-family: "Ubuntu Mono", monospace;
}
.introduce .pane .pane-row.ubuntu-mono:nth-child(2) h1, .introduce .pane .pane-row.poppins:nth-child(2) h1, .introduce .pane .pane-row.merriweather:nth-child(2) h1 {
  font-family: "Poppins", sans-serif;
}
.introduce .pane .pane-row.ubuntu-mono:last-child h1, .introduce .pane .pane-row.poppins:last-child h1, .introduce .pane .pane-row.merriweather:last-child h1 {
  font-family: "Merriweather", serif;
}
.introduce .button .result, .introduce .button-primary .result, .introduce .button-primary-large .result {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.introduce .button .code {
  background-color: #151515;
  padding: 10px;
  border: 1px solid #505050;
  border-radius: 5px 5px 0 0;
}
.introduce .button .code span {
  font-family: "Ubuntu Mono", monospace;
}
.introduce .button .code span.tagValue {
  color: #fff;
  font-weight: 700;
}
.introduce .button .result {
  background-color: #151515;
  border: 1px solid #505050;
  border-top: 0;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
}
.introduce .button .result button {
  padding: 10px;
  background-color: #0f172a;
  color: #f8fafc;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border: 1px solid #f8fafc;
  border-radius: 10px;
}
.introduce .button-primary .code {
  background-color: #151515;
  padding: 10px;
  border: 1px solid #505050;
  border-radius: 5px 5px 0 0;
}
.introduce .button-primary .code span {
  font-family: "Ubuntu Mono", monospace;
}
.introduce .button-primary .code span.tagValue {
  color: #fff;
  font-weight: 700;
}
.introduce .button-primary .result {
  background-color: #151515;
  padding: 10px;
  border: 1px solid #505050;
  border-top: 0;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
}
.introduce .button-primary .result button {
  padding: 10px;
  background-color: #047857;
  color: #ecfdf5;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border: none;
  border-radius: 10px;
}
.introduce .button-primary.hover button:hover {
  background-color: #064e3b;
  border: 1px solid #ecfdf5;
}
.introduce .button-primary.active button:active {
  background-color: #064e3b;
  border: 1px solid #ecfdf5;
}
.introduce .button-primary.focus button:focus {
  background-color: #064e3b;
  border: 1px solid #ecfdf5;
}
.introduce .button-primary-large .code {
  background-color: #151515;
  padding: 10px;
  border: 1px solid #505050;
  border-radius: 5px 5px 0 0;
}
.introduce .button-primary-large .code span {
  font-family: "Ubuntu Mono", monospace;
}
.introduce .button-primary-large .code span.tagValue {
  color: #fff;
  font-weight: 700;
}
.introduce .button-primary-large .result {
  background-color: #151515;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  margin-bottom: 10px;
  border: 1px solid #505050;
  border-top: 0;
}
.introduce .button-primary-large .result button {
  padding: 10px;
  background-color: #1d4ed8;
  color: #eff6ff;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700;
}

.blue-50 {
  background-color: #eff6ff;
}

.blue-100 {
  background-color: #dbeafe;
}

.blue-200 {
  background-color: #bfdbfe;
}

.blue-300 {
  background-color: #93c5fd;
}

.blue-400 {
  background-color: #60a5fa;
}

.blue-500 {
  background-color: #3b82f6;
}

.blue-600 {
  background-color: #2563eb;
}

.blue-700 {
  background-color: #1d4ed8;
}

.blue-800 {
  background-color: #1e40af;
}

.blue-900 {
  background-color: #1e3a8a;
}

.black-50 {
  background-color: #f8fafc;
}

.black-100 {
  background-color: #f1f5f9;
}

.black-200 {
  background-color: #e2e8f0;
}

.black-300 {
  background-color: #cbd5e1;
}

.black-400 {
  background-color: #94a3b8;
}

.black-500 {
  background-color: #64748b;
}

.black-600 {
  background-color: #475569;
}

.black-700 {
  background-color: #334155;
}

.black-800 {
  background-color: #1e293b;
}

.black-900 {
  background-color: #0f172a;
}

.red-50 {
  background-color: #fff1f2;
}

.red-100 {
  background-color: #ffe4e6;
}

.red-200 {
  background-color: #fecdd3;
}

.red-300 {
  background-color: #fda4af;
}

.red-400 {
  background-color: #fb7185;
}

.red-500 {
  background-color: #f43f5e;
}

.red-600 {
  background-color: #e11d48;
}

.red-700 {
  background-color: #be123c;
}

.red-800 {
  background-color: #9f1239;
}

.red-900 {
  background-color: #881337;
}

.purple-50 {
  background-color: #f5f3ff;
}

.purple-100 {
  background-color: #ede9fe;
}

.purple-200 {
  background-color: #ddd6fe;
}

.purple-300 {
  background-color: #c4b5fd;
}

.purple-400 {
  background-color: #a78bfa;
}

.purple-500 {
  background-color: #8b5cf6;
}

.purple-600 {
  background-color: #7c3aed;
}

.purple-700 {
  background-color: #6d28d9;
}

.purple-800 {
  background-color: #5b21b6;
}

.purple-900 {
  background-color: #4c1d95;
}

.green-50 {
  background-color: #ecfdf5;
}

.green-100 {
  background-color: #d1fae5;
}

.green-200 {
  background-color: #a7f3d0;
}

.green-300 {
  background-color: #6ee7b7;
}

.green-400 {
  background-color: #34d399;
}

.green-500 {
  background-color: #10b981;
}

.green-600 {
  background-color: #059669;
}

.green-700 {
  background-color: #047857;
}

.green-800 {
  background-color: #065f46;
}

.green-900 {
  background-color: #064e3b;
}

/*# sourceMappingURL=style.css.map */
