.banner {
    padding: 10% 2.5% 10% 2.5%;
    background-image: linear-gradient(to bottom, #E5E3C9, #fff);
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
        width: 100%;
        text-align: center;
        font-size: 50px;
        color: $purple;
        @media (max-width: 600px) {
            font-size: 30px;
        }
    }
    h3 {
        font-weight: 400;
        text-align: center;
        color: #303030;
        code {
            font-family: 'Ubuntu Mono', monospace;
            color: $purple;
        }
    }
}